.tab-content {
max-height: 0;
-webkit-transition: max-height .35s;
-o-transition: max-height .35s;
transition: max-height .35s;
}

.tab{
background: #101027;
border: 1px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
border-radius: 4px;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 1.25rem; /*.p-5*/
    border-left-width: 2px; /*.border-l-2*/
    border-color: #6574cd; /*.border-indigo*/
    color: #6574cd; /*.text-indigo*/
}

.downArrow{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF06AA;
    -webkit-transition:all.35s;
    -o-transition: all .35s;
    transition: all .35s; 
}

.downArrow:hover{
    box-shadow: 0px 0px 60px 0px rgba(255, 0, 191, 0.966);
    background-color: #FF06AA;
}

.tab input:checked ~ .downArrow {
    background-color: #FF06AA;
    transform: rotate(180deg);
}

.questions:hover{
    -webkit-transition:all.35s;
    -o-transition: all .35s;
    transition: all .35s; 
    text-shadow: 2px 4px 30px rgba(113, 100, 252, 0.966),
                 0px -5px 20px rgba(113, 100, 252, 0.966);
}



