.App {
  background-image: url(./images/LIGHTS.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #03031C;
  color: white;
}


.topBanner{
  background-image: url(./images/topBanner.jpg);
  background-size: 100% 100%;
background-repeat: no-repeat;
height: 900px;
}

 @media (min-width: 100px) { 
  .topBanner{
    height: 300px;
  }
 }
 @media (min-width: 768px) { 
  .topBanner{
    height: 500px;
  }
 }
 @media (min-width: 1024px) { 
  .topBanner{
    height: 700px;
  }
 }
 @media (min-width: 1280px) { 
  .topBanner{
    height: calc(min(100vh, 900px));
  }
 }




 
 .stickyHeader-enter {
  opacity: 0;
}
.stickyHeader-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.stickyHeader-exit {
  opacity: 1;
}
.stickyHeader-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}


 
 .alert-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}


.btnShadow{
  background-color: #FF06AA;
  box-shadow: 0px 15.6064px 58.9574px rgba(113, 100, 252, 0.3);
}


.roadMapList{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #2a7fff;
  background: #F5FBFF;
  border-radius: 13px;
  transform: rotate(45deg);
  box-shadow: 0px 15.6064px 58.9574px rgba(113, 100, 252, 0.3);
}

 @media (max-width: 640px) { 
  .roadMapList{
  padding: 10px;

  }
 }
.roadMapList p{
  transform: rotate(-45deg)
}



@layer components{
    .mainNavStyle{
      @apply flex justify-between items-center lg:px-4 xl:px-8 2xl:px-0
    }
    .navAstyle{
      @apply text-white hover:text-white rounded-full inline-block font-bold
      2xl:px-4 2xl:py-4 
      
    }
    .socialIconStyle{
      @apply p-3 rounded-full flex justify-center items-center
    }
    .smallNavAStyle{
      @apply text-white py-3 rounded-lg text-sm
    }
}


 @media (min-width: 1024px) { 
.navAstyle{
  font-size: 8px;
  padding: 3px 5px;
  }
 }

 @media (min-width: 1280px) { 
.navAstyle{
  font-size: 12px;
  padding: 3px 6px;
  }
 }

 @media (min-width: 1536px) { 
.navAstyle{
  font-size: 13px;
  padding: 5px 12px;
  }
 }


.navAstyle{
  transition: 0.5s;
}
.navAstyle:hover{
    background-color: #03031C;
}


.socialIconStyle:hover{
      background-color: #03031C;
transition: 0.5s;
}
