.App {
  background-image: url(./images/LIGHTS.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #03031C;
  color: white;
}


.topBanner{
  background-image: url(./images/topBanner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

 /* @media (min-width: 100px) { 
  .topBanner{
    height: 300px;
  }
 }
 @media (min-width: 768px) { 
  .topBanner{
    height: 500px;
  }
 }
 @media (min-width: 1024px) { 
  .topBanner{
    height: 700px;
  }
 }
 @media (min-width: 1280px) { 
  .topBanner{
    height: calc(min(100vh, 900px));
  }
 } */

 
 .stickyHeader-enter {
  opacity: 0;
}
.stickyHeader-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.stickyHeader-exit {
  opacity: 1;
}
.stickyHeader-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}


 
 .alert-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}


/* Default Button Shadows------------- */
.blueBtnShadow, .pinkBtnShadow, .orangeBtnShadow,.plushMinasBtnShadow{
  -webkit-transition:all.4s;
  -o-transition: all .4s;
  transition: all .4s; 
}

.blueBtnShadow:hover{
  box-shadow: 0px 0px 40px 0px rgba(113, 100, 252, 0.897);
}
.pinkBtnShadow:hover{
  background-color: #FF06AA;
  box-shadow: 0px 0px 40px 0px rgba(255, 0, 191, 0.966);
}
.orangeBtnShadow:hover{
 box-shadow: 0px 0px 50px 0px #ff932fe1;
}
.plushMinasBtnShadow:hover{

  background-color:#FF06AA ;
   box-shadow: 0px 0px 40px 0px rgba(255, 0, 191, 0.966);
}



.roadMapList{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #2a7fff;
  background: #F5FBFF;
  border-radius: 13px;
  transform: rotate(45deg);
  box-shadow: 0px 15.6064px 58.9574px rgba(113, 100, 252, 0.3);
}

 @media (max-width: 640px) { 
  .roadMapList{
  padding: 10px;

  }
 }
.roadMapList p{
  transform: rotate(-45deg)
}


@layer components{
    .mainNavStyle{
      @apply flex justify-between items-center lg:px-4 xl:px-8 2xl:px-0
    }
    .navAstyle{
      @apply text-gray-200 hover:text-white rounded-full inline-block font-bold
      2xl:px-4 2xl:py-4 cursor-pointer     
    }
    .socialIconStyle{
      @apply p-3 rounded-full flex justify-center items-center cursor-pointer
    }
    .smallNavAStyle{
      @apply text-white py-3 rounded-lg text-sm cursor-pointer
    }
}


 @media (min-width: 1024px) { 
.navAstyle{
  font-size: 8px;
  padding: 3px 5px;
  }
 }

 @media (min-width: 1280px) { 
.navAstyle{
  font-size: 12px;
  padding: 3px 6px;
  }
 }

 @media (min-width: 1536px) { 
.navAstyle{
  font-size: 13px;
  padding: 5px 12px;
  }
 }


.navAstyle{
  -webkit-transition:all.5s;
  -o-transition: all .5s;
  transition: all .5s ease-in-out; 
}
.navAstyle:hover{
  background-color: #FF06AA;
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 191, 0.966);
}
.navAstyle:active {
background-color: #FF06AA;
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 191, 0.966);
}



.socialIconStyle{
    -webkit-transition:all.4s;
  -o-transition: all .4s;
transition: all .5s ease-in-out; 
}
.socialIconStyle:hover{
     background-color: #FF06AA;
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 191, 0.966);
}
